body {
  background-color: rgb(243, 234, 224);
}

#draggable {
  text-align: center;
  background: white;
}

#container {
  width: 200px;
  height: 20px;
  background: powderblue;
  padding: 10px;
}

.container {
  width: 200px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.top-right-element {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.dragging {
  opacity: 0.5;
}

.task-manager {
  width:600px;
  margin:auto;
}

.button-class {
    background-color: #73ac5c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
    
.center-line {
  height: 75;
  width: 200;
  line-height: 25px;
  text-align: center;
  font-size: 24px;
}

.center-line-login {
  height: 75px;
  line-height: 25px;
  text-align: center;
  font-size: 24px;
}